---
import * as interfaces from '../../lib/interfaces.ts'
import Mention from './Mention.astro'

export interface Props {
  block: interfaces.LinkToPageBlock
}

const { block } = Astro.props
---

<p>
  <Mention pageId={block.LinkToPage.PageId} />
</p>
