---
import * as interfaces from '../../lib/interfaces.ts'
import { snakeToKebab } from '../../lib/style-helpers.ts'
import RichText from './RichText.astro'
import NotionBlocks from '../NotionBlocks.astro'
import '../../styles/notion-color.css'

export interface Props {
  block: interfaces.NumberedList
  level: number
  headings: interfaces.HeadingBlock[]
}

const { block, level, headings } = Astro.props

const listTypes = ['i', '1', 'a'] as const
---

<ol type={listTypes[level % 3]}>
  {
    block.ListItems.filter(
      b => b.Type === 'numbered_list_item'
    ).map(b => (
      <li class={snakeToKebab(b.NumberedListItem.Color)}>
        {b.NumberedListItem.RichTexts.map((richText: interfaces.RichText) => (
          <RichText richText={richText} />
        ))}
        {b.HasChildren && (
          <NotionBlocks
            blocks={b.NumberedListItem.Children ?? []}
            level={level + 1}
            headings={headings}
          />
        )}
      </li>
    ))
  }
</ol>

<style>
  ol {
    font-size: 1rem;
  }
</style>
